extends layout

block content
  main
    section(class="dash")
      figure
        a(href="/pets.html")
          img(src="images/pets_link.png" alt="Griffinry pets")
        figcaption 
          h2 My Pets
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo
      figure
        a(href="/gather.html")
          img(src="images/gather_link.png" alt="Griffinry gather")
        figcaption 
          h2 Go Hunting
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo
