extends layout

block content
  main
    section(class="dash")
      figure
        a(href="/pets.html")
          img(src="images/pets_link.png" alt="Griffinry pets")
        figcaption 
          h2 My Pets
          p Click to check out your pets!
      figure
        a(href="/gather.html")
          img(src="images/gather_link.png" alt="Griffinry gather")
        figcaption 
          h2 Go Hunting
          p Click here to go hunting with your pets!
