extends layout

block content
  main
    form
      label(for="username") Username:
      input(type="text" id="username" value=user.User_Name)
      label(for="DOB") DOB:
      input(type="text" id="DOB" value=user.DOB)
      label(for="password") Password:
      input(type="password" id="password" value=user.Password)
      button(type="submit") Update
