header
  h1 Griffinry
  span
    img(src='/images/griffinry_logo.png', alt='Griffinry')
  .user
    if user
      h2.username #{user.User_Name}
    else
      h2.username #{user[0].User_Name}
    img.hamburger(src='/images/hamburger.png', alt='user menu')
    .user-dropdown
      ul
        li
          a(href='/dashboard') Dashboard
        li.profile-link
          a(href='') Profile
        li
          a(href='/auth/logout') Logout
