doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script.
      $(document).ready(function(){
        $('.hamburger').click(function(){
          $('.user-dropdown').toggle('fast');
        });
      });
  body
    include ./header.jade
    header.hero
    block content
    include ./footer.jade
