extends layout

block content
  main
    section
    #error
    if error
    h1.visible(class="error") #{error}
    h1.visible Create an Account
    .signup-container
      form.signup-form(action='/signup', method='POST')
        label(for='username') Username:
        input(type='text', name='username')
        label(for='email') Email:
        input(type='text', name='email')
        label(for='password') Password:
        input(type='password', name='password')
        label(for='dob') Date of Birth
        input(type='date', name='dob')
        input(type='submit', value='Sign up')
      div
        p or
        a(href='/signup/google')
          img(src='images/google_signup.png', alt='Sign up with Google')
