doctype html
html
  head
    title Griffinry
    link(rel='stylesheet', href='css/main.css')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='javascripts/validate.js')
  body
    header
      h1 Griffinry
      span
        a(href='/')
          img(src='images/griffinry_logo.png', alt='Griffinry')
      .user
        form(action='/auth/login', method='POST')
          label(for='username') Username:
          input(id='username', type='text', name='username', required='required')
          label(for='password') Password:
          input(id='password1', type='password', name='password', required='required')
          input(type='submit', value='Log in')
        span
          | Log in with 
          a(href='auth/google')
            img(src='images/google_signin.png', alt='Sign in with Google')
    main
      header.hero
      section
          if error
            h1.visible(class="error") #{error}
        h1.visible Create an Account
        span(class='password-error')
        .signup-container
          form.signup-form(action='/signup', method='POST')
            label(for='username') Username:
            input(id='username', type='text', name='username', required='required')
            label(for='email') Email:
            input(id='email', type='text', name='email', required='required')
            label(for='password') Password:
            input(id='password2' type='password', name='password', required='required')
            label(for='dob') Date of Birth:
            input(id='dob', type='date', name='dob', required='required')
            label(for='about') About me:
            input(id='about', type='text', name='about', required='required')
            input(type='submit', value='Sign up')
          div
            p or
            a(href='/auth/google')
              img(src='images/google_signup.png', alt='Sign up with Google')
    footer
      small © 2016 Jamaican Hopscotch Mafia
