doctype html
html
  head
    title Griffinry
    link(rel='stylesheet', href='css/main.css')
  body
    header
      h1 Griffinry
      span
        img(src='images/griffinry_logo.png', alt='Griffinry')
      .user
        form(action='/auth/login', method='POST')
          label(for='username') Username:
          input(type='text', name='username')
          label(for='password') Password:
          input(type='password', name='password')
          input(type='submit', value='Log in')
        span
          | Log in with 
          a(href='/google')
            img(src='images/google_signin.png', alt='Sign in with Google')
    main
      header.hero
      section
          if error
            h1.visible(class="error") #{error}
        h1.visible Create an Account
        .signup-container
          form.signup-form(action='/signup', method='POST')
            label(for='username') Username:
            input(type='text', name='username')
            label(for='email') Email:
            input(type='text', name='email')
            label(for='password') Password:
            input(type='password', name='password')
            label(for='dob') Date of Birth
            input(type='date', name='dob')
            input(type='submit', value='Sign up')
          div
            p or
            a(href='/signup/google')
              img(src='images/google_signup.png', alt='Sign up with Google')
    footer
      small © 2016 Jamaican Hopscotch Mafia

    
//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/css/main.css')
//-     script(src='https://code.jquery.com/jquery-2.2.0.min.js')
//-     script.
//-       $(document).ready(function(){
//-         $('.hamburger').click(function(){
//-           $('.user-dropdown').toggle('fast');
//-         });
//-       });
//-   body
//-     header
//-       h1 Griffinry
//-       span
//-         img(src='images/griffinry_logo.png', alt='Griffinry')
//-       div.user
//-         form(action='/auth/login', method='POST')
//-           label(for='username') Username:
//-           input(type='text', name='username')
//-           label(for='password') Password:
//-           input(type='password', name='password')
//-           input(type='submit', value='Log in')
//-         span
//-           | Log in with 
//-           a(href='/google')
//-             img(src='images/google_signin.png', alt='Sign in with Google')
//-      
//-     main
//-       header.hero
//-         section
//-         #error
//-           if error
//-             h1.visible(class="error") #{error}
//-           h1.visible Create an Account
//-           .signup-container
//-             form.signup-form(action='/signup', method='POST')
//-               label(for='username') Username:
//-               input(type='text', name='username')
//-               label(for='email') Email:
//-               input(type='text', name='email')
//-               label(for='password') Password:
//-               input(type='password', name='password')
//-               label(for='dob') Date of Birth
//-               input(type='date', name='dob')
//-               input(type='submit', value='Sign up')
//-             div
//-               p or
//-               a(href='/signup/google')
//-                 img(src='images/google_signup.png', alt='Sign up with Google')
//- 
//- include ./footer.jade
