body {
  padding: 20px;
  display: flex;
  justify-content:center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  padding: 10px;
}

img {
  border: 1px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
